<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">

    {% if show_author %}<meta name="author" content="Julian Blöchl"/>{% endif %}
    <title>{{ title }}</title>
</head>

<body>
    <h2>Sensor Dashboard</h2>
    <p>Dieses Dashboard liefert Informationen über die aktuelle Temperatur an der Hochschule Karlsruhe -
        Technik und Wirtschaft</p>

    <table class="table table-bordered", style="width: 25%">
        <thead>
            <tr>
                <th>sensor</th>
                <th>value</th>
            </tr>
       </thead>

        <tr>
            <td>temperature</td>
            <td style = "color:{{ temperature_color }}" align="center">{{ temperature_value }}</td>
        </tr>
        <tr>
            <td>switch</td>
            <td style = "color:{{ switch_color }}" align="center"> {{ switch_value }}</td>
        </tr>
    </table>
</body>
</html>
